<a href="https://colab.research.google.com/github/veranika-izrailyan/python_practice/blob/main/01_Welcome_to_DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# LIST 
# PYTHON is PRECOMPILED C++ 
# Python cannot do anything special that C++ couldn't
# All challenges of C++ would be inherited up to some in Python 
# THis makes Python slightly less reliable when working in severe lack of resources 
# Unexpected outputs, undefined behavior across machines
# challenges are being overcome 
# PYTHON has a HUGE ecosystem -> ease of finding packages and solving doubts

In [11]:
#Python manipulates POINTERS 
# PROVE our point in Py, but try to implement for prod in language that you're expert at 
# Do you change a lightbulb in Hindi, Tamil or Kannada? -> Language DOESN't MATTER
# your expertise at it, and hardware performance MATTERS 

# LIST 
# its a collection of pointers -> pointer is same, whether it is pointint to STRING, NUM or FLOAT
ls = [ 'hello world', 2., 3, 42, False]
# DATA type in other language is on the variable 
# LIST preserves the order of elements 
# LIST is indexed, [0] will give you the element by it's KEY or INDEX 
print(ls) 
# editable, insert remove edit elements

['hello world', 2.0, 3, 42, False]

In [12]:
# read only list -> TUPLE 
tp = ('hello world', 2., 3, 42, False)
print(tp)
print(tp[0])
# ORdered, Indexed but cannot be edited
del tp[0] # should throw an error

('hello world', 2.0, 3, 42, False)
hello world

TypeError: ignored

In [9]:
# DICTIONARY
dct = {'a': [10,20,30], 'b': 42 }

In [2]:
# PANDAS -> PANEL DATAFRAMES 
# RECTANGULAR FRAME which contains data 
# ROW and COLUMN represent the GRID -> EXCEL, CSV, DBs, TABLES
# diff columns cannot be of diff length

In [10]:
# PANDAS -> basic file io and cleaning data 
!ls -l # linux command to list files

total 4
drwxr-xr-x 1 root root 4096 Nov 18 14:36 sample_data

In [1]:
# EXCEL will add it's own CSV encoding and headers which we don't want
# PASTE raw data in NOTEPAD and save as CSV 
import pandas as pd 
fl = pd.read_csv('https://raw.githubusercontent.com/a-forty-two/cylons/master/data.csv', header=0)
# print the top of file
fl.head()
# fl.head(10) -> first 10 elements 
# bottom
fl.tail() #-> bottom 5 elements 
fl.tail(3)# -> last 3 elements 

# ONLY LAST OUTPUT will be printed -> ANY iPython will face this Azure Notbooks, PySpark, DataBricks, Google Colab
# FL is DataFRAME

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
566  926954         M  ...                  0.07820          NaN
567  927241         M  ...                  0.12400          NaN
568   92751         B  ...                  0.07039          NaN

[3 rows x 33 columns]

In [13]:
# LOC and iLOC 
# LOCATION and INDEX of LOCATION 
# location works with name, index works with position (number)

# [row selection, column selection]
# This can be a range or a list -> 2nd to 3rd last element is a range,
# but [smoothness_mean, concavity_mean] is a list

print(fl.iloc[0,0]) # ELEMENT level selection 
fl.iloc[0,:] # FIRST row, ALL columns

842302

id                           842302
diagnosis                         M
radius_mean                   17.99
texture_mean                  10.38
perimeter_mean                122.8
area_mean                      1001
smoothness_mean              0.1184
compactness_mean             0.2776
concavity_mean               0.3001
concave points_mean          0.1471
symmetry_mean                0.2419
fractal_dimension_mean      0.07871
radius_se                     1.095
texture_se                   0.9053
perimeter_se                  8.589
area_se                       153.4
smoothness_se              0.006399
compactness_se              0.04904
concavity_se                0.05373
concave points_se           0.01587
symmetry_se                 0.03003
fractal_dimension_se       0.006193
radius_worst                  25.38
texture_worst                 17.33
perimeter_worst               184.6
area_worst                     2019
smoothness_worst             0.1622
compactness_worst            0.6656
concavity_worst              0.7119
concave points_worst         0.2654
symmetry_worst               0.4601
fractal_dimension_worst      0.1189
Unnamed: 32                     NaN
Name: 0, dtype: object

In [14]:
# ITERATION is used when we need to generate Series of data
# SIMULATION activities or when data is impossible to gather but not impossible to calculate
# FISSURES of surface of sun -> impossible to gather 
# COST, time 
# CAN be used to handle MISSING data BUT NOT RECOMMENDED 
# FIBONACCI 
# Number -> sum of prev 2 numbers 
# -1 and +1 -> these generators generate sequences of fibonaccis 

#1 2 3 4 5 .... 
# __init__ <- this acts LIKE a CONSTRUCTOR 

class Numbers:
  def __init__(this, x, y):
    this.n1 = x**2
    this.n2 = y**2
  def x2plusy2(this):
    finalSum = this.n1 + this.n2
    return finalSum 

class natural:
  def __iter__(this):
    this.start = 1
    return this # return entire initial seed object
  def __next__(this):
    x = this.start + 1 # calculated the next no. of series
    this.start = x # update for next iteration 
    return x # return the propagation result only

class FiboGen:
  def __iter__(this): # SEED function, FIRST numbers to use 
    # initialize the seeds of series here
    this.n1 = -1
    this.n2 = 1
    this.n3 = None
    return this # return the seed object
  def __next__(this): # Propagation function 
    this.n3 = this.n1 + this.n2 
    this.n1 = this.n2
    this.n2 = this.n3 
    
    
    return this.n3 # return the next element of prop 

prop = FiboGen()
pointer_to_prop = iter(prop) #an iterator object 
# iter executes the seed function, next executes the propagation function 

for i in range(20):
  print(next(pointer_to_prop))

# PLEASE resume by 12  
# On mute, any questions-> please type in chat window

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

In [ ]:
def sum():
  return 0


sum